<div class="container my-5 text-center">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-1">@Model</h1>
            <p class="lead">@ViewBag.z</p>
        </div>
    </div>
</div>